In [1]:
#https://towardsdatascience.com/object-detection-with-10-lines-of-code-d6cb4d86f606
#pip install tensorflow, opencv-python, keras, imageai --upgrade, pip install numpy==1.16
import os
from imageai.Detection import ObjectDetection

import pandas as pd
import geopandas as gpd

from pyproj import Proj
from matplotlib import image as img  
from shapely.geometry import Polygon, Point

execution_path = os.getcwd()
detector = ObjectDetection()
detector.setModelTypeAsRetinaNet()
detector.setModelPath(os.path.join('/Users/Zack/0_thesis_imageai' , "resnet50_coco_best_v2.0.1.h5"))
detector.loadModel()

Using TensorFlow backend.

WARNING:tensorflow:From C:\Users\Zack\Anaconda3\envs\thesis\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [2]:
%%time 
#process all images in a folder
input_folder = 'input_folder'
output_folder = 'output_folder'
images = os.listdir(os.path.join(execution_path , input_folder)) #create list of images
#print(len(images), "images in folder")

object_list = pd.DataFrame([])
for i in images:
    detections, extracted_images = detector.detectObjectsFromImage(
        input_image=os.path.join(execution_path , input_folder, i),
        output_image_path=os.path.join(execution_path , output_folder, i), 
        extract_detected_objects=True)
    
    objects = pd.DataFrame(detections) #create df of detections
    objects['image_name'] = i #add image name
    
    #combine dections from all images
    object_list = object_list.append(pd.DataFrame(objects), sort=False) 

object_list

Wall time: 29.3 s

,name,percentage_probability,box_points,image_name
0,person,80.600911,"[342, 346, 410, 438]","image_(19, 37.49039, 22.93714, 37.48995, 22.93..."
1,car,84.235823,"[1121, 452, 1200, 546]","image_(19, 37.49039, 22.93714, 37.48995, 22.93..."
2,car,87.241936,"[1, 423, 100, 616]","image_(19, 37.49039, 22.93714, 37.48995, 22.93..."
3,bus,99.995172,"[80, 192, 1118, 639]","image_(19, 37.49039, 22.93714, 37.48995, 22.93..."
0,bowl,54.498076,"[188, 170, 280, 254]","image_(19, 39.67116, 20.07228, 39.67073, 20.07..."
0,dog,99.986875,"[190, 84, 657, 466]","image_(19, 39.67116, 20.07228, 39.67073, 20.07..."
0,airplane,100.000000,"[64, 44, 643, 412]","image_(19, 40.50401, 22.6655, 40.50356, 22.666..."

In [3]:
#meters per pixel for level 19
res = 0.2986

#meters per pixel for level 18
res = 0.5972

#projection wgs84 to utm
prj = Proj("+proj=utm +zone=34N, +north +ellps=WGS84 +datum=WGS84 +units=m +no_defs")

#create sptatial polygons fro box points
dim_list, poly_list, img_list = [], [], []
top_left_list, btm_left_list, btm_right_list = [], [], []
height_list, width_list = [], []

#convert detections to geopandas polygons
for i in (range(len(object_list))):
   
    #calculate image dimensions
    image = os.path.join(execution_path , output_folder, object_list['image_name'].iloc[i])
    dim = (img.imread(image)).shape
    dim_list.append(dim)
    
    #extract top left lat/lon from image name
    name = object_list['image_name'].iloc[i]
    top_left_lat = float(name.split(", ")[4]) #lat = x
    top_left_lon = float(name.split(", ")[3]) #lon = y
    top_left = (top_left_lat, top_left_lon)
    top_left_list.append(top_left)
    
    #calculate bottom left utm
    dist = res * dim[0] #distance in meters
    top_left_utm = prj(top_left[0], top_left[1]) 
    btm_left_utm = top_left_utm[0], top_left_utm[1] - dist #bottom left utm
    btm_left_list.append(btm_left_utm)

    #convert box points to utm then to lat/lon  
    box = object_list['box_points'].iloc[i]  
    
    btm_left_utm
    x = btm_left_utm[0]
    y = btm_left_utm[1]
    
    lat_utm = x+box[0]*res, x+box[0]*res, x+box[2]*res, x+box[2]*res 
    lon_utm = y+box[1]*res, y+box[3]*res, y+box[3]*res, y+box[1]*res 
    lat, lon = prj(lat_utm, lon_utm, inverse = True) #convert to lat/lon
    
    poly = Polygon(zip(lat, lon))
    poly_df = gpd.GeoDataFrame(geometry=[poly]) 
    poly_list.append(poly_df)
    
    #calculate box dimensions in meters
    height= (box[3] - box[1]) * res
    width= (box[2] - box[0]) * res
    height_list.append(round(height,2))
    width_list.append(round(width, 2))
    
geom_list = gpd.GeoDataFrame(pd.concat(poly_list, ignore_index=True), crs = {'init': 'epsg:4326'})

In [4]:
#calculate centroid for each detection bounding box
centroid = geom_list['geometry'].centroid
centroid_x, centroid_y = [], []
for i in range(len(centroid)):
    x=centroid[i].xy[0][0]
    y=centroid[i].xy[1][0]
    centroid_x.append(x)
    centroid_y.append(y)

In [5]:
#prepare object list for geometry information
d2 = object_list.reset_index(drop=True) #super important
d2 = d2.drop(columns=['box_points'])
d2['height_m']=height_list
d2['width_m']=width_list
d2['x']=centroid_x
d2['y']=centroid_y

#add polygon infromation to object list
d2_polygons = gpd.GeoDataFrame(d2, geometry = geom_list['geometry'])
d2_polygons
d2_polygons

,name,percentage_probability,image_name,height_m,width_m,x,y,geometry
0,person,80.600911,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",27.47,20.30,22.938961,37.488832,"POLYGON ((22.93884295279464 37.48870981810121,..."
1,car,84.235823,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",28.07,23.59,22.941617,37.489076,"POLYGON ((22.94148004932968 37.48895175008197,..."
2,car,87.241936,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",57.63,29.56,22.937871,37.489193,"POLYGON ((22.9376971702588 37.4889358362716, 2..."
3,bus,99.995172,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",133.47,309.95,22.939715,37.488883,"POLYGON ((22.93794779771097 37.48831008364132,..."
4,bowl,54.498076,"image_(19, 39.67116, 20.07228, 39.67073, 20.07...",25.08,27.47,20.073702,39.670185,"POLYGON ((20.07354330721455 39.6700707612181, ..."
5,dog,99.986875,"image_(19, 39.67116, 20.07228, 39.67073, 20.07...",114.07,139.45,20.074363,39.670058,"POLYGON ((20.07355738407767 39.66953817137367,..."
6,airplane,100.000000,"image_(19, 40.50401, 22.6655, 40.50356, 22.666...",109.88,172.89,22.667330,40.502940,"POLYGON ((22.6662982953343 40.50245965599078, ..."

In [6]:
# d2_polygons.to_file('/Users/Zack/Desktop/d2_polygons.geojson', driver='GeoJSON')
# d2_polygons.to_file('/Users/Zack/Desktop/d2_polygons.shp')

In [7]:
#centroid version
centroid_list = gpd.GeoDataFrame(geometry=centroid, crs={'init': 'epsg:4326'})
d2_centroids = gpd.GeoDataFrame(d2, geometry=centroid_list['geometry'])
d2_centroids

,name,percentage_probability,image_name,height_m,width_m,x,y,geometry
0,person,80.600911,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",27.47,20.30,22.938961,37.488832,POINT (22.93896092811239 37.48883167106047)
1,car,84.235823,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",28.07,23.59,22.941617,37.489076,POINT (22.9416166656036 37.48907598494424)
2,car,87.241936,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",57.63,29.56,22.937871,37.489193,POINT (22.93787097926276 37.48919267409965)
3,bus,99.995172,"image_(19, 37.49039, 22.93714, 37.48995, 22.93...",133.47,309.95,22.939715,37.488883,POINT (22.93971535733634 37.48888251141437)
4,bowl,54.498076,"image_(19, 39.67116, 20.07228, 39.67073, 20.07...",25.08,27.47,20.073702,39.670185,POINT (20.07370192350421 39.67018502388228)
5,dog,99.986875,"image_(19, 39.67116, 20.07228, 39.67073, 20.07...",114.07,139.45,20.074363,39.670058,POINT (20.07436333053447 39.67005846577145)
6,airplane,100.000000,"image_(19, 40.50401, 22.6655, 40.50356, 22.666...",109.88,172.89,22.667330,40.502940,POINT (22.66733034418634 40.50293970728963)

In [8]:
# d2_centroids.to_file('/Users/Zack/Desktop/d2_centroids.geojson', driver='GeoJSON')
# d2_centroids.to_file('/Users/Zack/Desktop/d2_centroids.shp')