In [5]:
import os
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [93]:
#file = "./detections.csv"
#detections = pd.read_csv(file, delimiter=',', header=0)
#detections.head()

                                               image  detections
0  image_(18, 35.29339, 26.26795, 40.53992, 22.75...           1
1  image_(18, 35.29715, 25.47558, 40.50499, 22.70...           5
2  image_(18, 35.30064, 26.26219, 40.53967, 22.76...           2
3  image_(18, 35.30195, 26.2899, 40.54976, 23.887...          16
4  image_(18, 35.30221, 26.29449, 40.54475, 22.77...          11

In [10]:
#load CSVs
folder = '/Users/Zack/Desktop/true positive/'
files = os.listdir(folder)
print(len(files))
detections = pd.DataFrame({'image': files})
detections.head()

432

                                               image
0  image_(18, 35.30195, 26.2899, 40.54976, 23.887...
1  image_(18, 35.30349, 23.51298, 38.24912, 24.12...
2  image_(18, 35.30506, 23.51354, 38.24928, 24.12...
3  image_(18, 35.3783, 23.53329, 39.79014, 19.911...
4  image_(18, 35.38447, 23.53343, 39.7903, 19.913...

In [12]:
x_list, y_list = [], []
for i in range(len(detections)):
    name = detections['image'].iloc[i]
    y1=(float(name.split(",")[3]))
    x1=(float(name.split(",")[4]))
    y2=(float(name.split(",")[5]))
    x2=(name.split(",")[6])
    x2=(float(x2.split(")")[0]))
    y = (y1+y2)/2
    x = (x1+x2)/2
    y_list.append(y)
    x_list.append(x)

In [13]:
geometry = [Point(xy) for xy in zip(x_list, y_list)]
pts = gpd.GeoDataFrame(detections, geometry = geometry, crs = {'init': 'epsg:4326'})
pts.head()

,image,geometry
0,"image_(18, 35.30195, 26.2899, 40.54976, 23.887...",POINT (23.8818 40.55426)
1,"image_(18, 35.30349, 23.51298, 38.24912, 24.12...",POINT (24.121605 38.253635)
2,"image_(18, 35.30506, 23.51354, 38.24928, 24.12...",POINT (24.121825 38.253795)
3,"image_(18, 35.3783, 23.53329, 39.79014, 19.911...",POINT (19.90558 39.794425)
4,"image_(18, 35.38447, 23.53343, 39.7903, 19.913...",POINT (19.906915 39.79459)

In [16]:
#pts.to_file('./detections.geojson', driver='GeoJSON')
#pts.to_file('./detections.shp')
pts.to_file('/Users/Zack/Desktop/detections.geojson', driver='GeoJSON')
pts.to_file('/Users/Zack/Desktop/detections.shp')