In [79]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [35]:
file = "./detections.csv"
detections = pd.read_csv(file, delimiter=',', header=0)
detections.head()

                                               image  detections
0  image_(18, 35.29339, 26.26795, 40.53992, 22.75...           1
1  image_(18, 35.29715, 25.47558, 40.50499, 22.70...           5
2  image_(18, 35.30064, 26.26219, 40.53967, 22.76...           2
3  image_(18, 35.30195, 26.2899, 40.54976, 23.887...          16
4  image_(18, 35.30221, 26.29449, 40.54475, 22.77...          11

In [78]:
cor1_list, cor2_list = [], []
for i in range(len(detections)):
    name = detections['image'].iloc[i]
    cor1 = float(name.split(", ")[5])
    cor2 = name.split(", ")[6]
    cor2 = float(cor2.split(")")[0])
    cor1_list.append(cor1)
    cor2_list.append(cor2)

In [84]:
geometry = [Point(xy) for xy in zip(cor2_list, cor1_list)]
pts = gpd.GeoDataFrame(detections, geometry = geometry)
pts.head()

,image,detections,geometry
0,"image_(18, 35.29339, 26.26795, 40.53992, 22.75...",1,POINT (22.73931 40.54879)
1,"image_(18, 35.29715, 25.47558, 40.50499, 22.70...",5,POINT (22.69179 40.51387)
2,"image_(18, 35.30064, 26.26219, 40.53967, 22.76...",2,POINT (22.7513 40.54855)
3,"image_(18, 35.30195, 26.2899, 40.54976, 23.887...",16,POINT (23.87589 40.55876)
4,"image_(18, 35.30221, 26.29449, 40.54475, 22.77...",11,POINT (22.75804 40.55363)

In [83]:
pts.to_file('./detections.geojson', driver='GeoJSON')
pts.to_file('.detections.shp')