In [29]:
import pandas as pd
import geopandas as gpd

#load grid
pts = '../greece/FiCIM/54_5m_pts.shp'
grid = gpd.read_file(pts, delimiter=',', header=0)
print(grid.shape)
grid.head()

(160000, 4)

   Id    POINT_X    POINT_Y                                     geometry
0   0  23.067599  37.862298  POINT (23.06759937490946 37.86229759974154)
1   0  23.067657  37.862298  POINT (23.06765658996958 37.86229759974154)
2   0  23.067714  37.862298   POINT (23.0677138050297 37.86229759974154)
3   0  23.067771  37.862298  POINT (23.06777102008981 37.86229759974154)
4   0  23.067828  37.862298  POINT (23.06782823514993 37.86229759974154)

In [30]:
#load ficim data
file = '../r_ficim/ficim_54_day5_bath20/'

f = file + 'Mean_Flux_P_list.csv'
p = pd.read_csv(f, delimiter=',', header=None)

f = file + 'Mean_Flux_C_list.csv'
c = pd.read_csv(f, delimiter=',', header=None)

f = file + 'Mean_Flux_N_list.csv'
n = pd.read_csv(f, delimiter=',', header=None)

f = file + 'Flux_P_0005_list.csv'
f_p = pd.read_csv(f, delimiter=',', header=None)

f = file + 'Flux_C_0005_list.csv'
f_c = pd.read_csv(f, delimiter=',', header=None)

f= file + 'Flux_N_0005_list.csv'
f_n = pd.read_csv(f, delimiter=',', header=None)

In [31]:
#join ficim data to grid
grid['mean_P']=p
grid['mean_C']=c
grid['mean_N']=n
grid['P']=f_p
grid['C']=f_c
grid['N']=f_n
grid.head()

,Id,POINT_X,POINT_Y,geometry,mean_P,mean_C,mean_N,P,C,N
0,0,23.067599,37.862298,POINT (23.06759937490946 37.86229759974154),0.0,0.0,0.0,0.0,0.0,0.0
1,0,23.067657,37.862298,POINT (23.06765658996958 37.86229759974154),0.0,0.0,0.0,0.0,0.0,0.0
2,0,23.067714,37.862298,POINT (23.0677138050297 37.86229759974154),0.0,0.0,0.0,0.0,0.0,0.0
3,0,23.067771,37.862298,POINT (23.06777102008981 37.86229759974154),0.0,0.0,0.0,0.0,0.0,0.0
4,0,23.067828,37.862298,POINT (23.06782823514993 37.86229759974154),0.0,0.0,0.0,0.0,0.0,0.0

In [32]:
grid.to_file('./ficim_54_day5_bath20/ficim_54.shp')